@font-face {
  font-family: Poppins;
  font-weight: 900;

  src: url("../Fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 600;

  src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url("../Fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Rajdhani;
  font-weight: 900;

  src: url("../Fonts/Rajdhani/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: Rajdhani;
  font-weight: 600;

  src: url("../Fonts/Rajdhani/Rajdhani-Regular.ttf");
}

@font-face {
  font-family: Rajdhani;
  font-weight: 300;

  src: url("../Fonts/Rajdhani/Rajdhani-Light.ttf");
}

:root {
  --font-primary: Poppins;
  --font-secondary: Rajdhani;

  --text-color: #98d33a;
  --text-color-dark: #1d2129;
  --text-color-light: rgb(217, 217, 227);
  --background-color: #14213d;

  --background-color-darker: #101214;

  --color-button-light: #e4f3e5;
  --color-button-dark: #161514;

  /*Blob effect vars*/
  --blob-radius: 1600px;
  --blob-blendmode: hard-light;
}

@property --card-border-rot {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

* {
  font-family: var(--font-secondary);
  box-sizing: border-box;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--text-color-light);
}

h2 {
  font-family: var(--font-primary);
  font-weight: 900;
  color: var(--text-color-light);
  font-size: 1.5rem;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
}

p {
  font-family: var(--font-primary-light);
  font-size: 1rem;
}

.smaller-p {
  font-size: 0.7em;
}

/*Page layout setup
*/
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/Assets/Images/bg.jpg");

  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  backdrop-filter: blur(150px) saturate(.7);

  scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: rgba(29, 22, 22, 0.164);
  z-index: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 0.5em;
}

.nav-list a {
  font-size: 1rem;
  color: var(--text-color-dark);
  text-decoration: none;
}

.nav-lItem {
  padding: 0.5em;
}

.nav-logo {
  width: auto;
  height: 80%;
  margin-left: 2em;

  &:hover {
    cursor: pointer;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #262926;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}

footer li a {
  font-size: 0.75rem;
  font-family: Rajdhani-ExtraLight;
}

footer li a:hover {
  color: #9e543d;
}

footer p {
  font-size: 0.7rem;
  max-width: 10rem;
  font-family: Rajdhani-ExtraLight;
  text-align: center;
}

/* Page section */

.page-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Individual sections*/
#banner-section {
  position: relative;
  min-height: 100vh;
}

#banner-section h1,
h2 {
  user-select: none;
}

#banner-section h1 {
  font-size: 3.5rem;
  color: #ffffff;
  text-wrap: nowrap;
}


.banner_name {
  display: flex;
  width: 100%;

  height: 30%;
  justify-content: center;
  align-items: end;
}

.banner_name h1 {
  width: fit-content;
  height: fit-content;
  text-align: start;
}

.banner_icons {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: start;
  margin: auto;
}

.icon_group {
  display: flex;
  position: relative;

  width: 100%;
  align-items: center;
  margin: 2rem 0rem;
}

.icon_divider {
  margin: 0 -4rem;
  width: 12rem;
}

.icon_web {
  position: relative;
  opacity: 80%;
  font-size: 2.25rem;
  font-family: var(--font-secondary);
  text-wrap: nowrap;
}

.icon_console {
  position: relative;
  width: 5rem;
  opacity: 70%;
  margin: 0 1.25rem;
}

.btn_explore {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

}

.btn_explore:hover {
  cursor: pointer;
}

.btn_explore h3 {
  font-weight: 600;
  letter-spacing: .25rem;

  user-select: none;

  color: white;

  transition: letter-spacing .5s ease-out;
}

.btn_explore:hover h3 {
  letter-spacing: .5rem;
  color: #140a0a;
}

.btn_down-arrow img {
  width: 1.5rem;
}

/*Background effect | Hero section*/
.blob-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  overflow: hidden;

  background: linear-gradient(0deg, rgba(45, 45, 54, 0.3), rgb(39, 50, 59));
}

.blob-container {
  width: 100%;
  height: 100%;
  filter: blur(180px);
}


.blob-1 {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  top: calc(50% - var(--blob-radius) / 2);
  left: calc(50% - var(--blob-radius) / 2);

  background: radial-gradient(circle at center,
      rgba(255, 32, 84, 0.6) 0,
      rgba(43, 57, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);

  transform-origin: center center;
  animation: blob-mov-vert 15s ease infinite;
}

.blob-2 {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  top: calc(50% - var(--blob-radius) / 2 + 300px);
  left: calc(80% - var(--blob-radius) / 2);

  background: radial-gradient(circle at center,
      rgba(61, 245, 61, 0.6) 0,
      rgba(251, 255, 43, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);

  transform-origin: calc(50% - 400px);
  animation: blob-rotate 25s ease-in-out reverse infinite;
}

.blob-3 {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  top: calc(50% - var(--blob-radius) / 2 - 100px);
  left: calc(50% - var(--blob-radius) / 2 +350px);

  background: radial-gradient(circle at center,
      rgba(99, 223, 223, 0.6) 0,
      rgba(251, 255, 43, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);
  animation: blob-mov-vert 25s ease infinite;
}

.blob-4 {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  top: calc(50% - var(--blob-radius) / 2 - 250px);
  left: calc(50% - var(--blob-radius) / 2 - 100px);

  background: radial-gradient(circle at center,
      rgba(165, 255, 105, 0.6) 0,
      rgba(103, 255, 43, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);
  transform-origin: calc(50% - 200px);
  animation: blob-rotate 25s ease-in-out reverse infinite;
}

.blob-5 {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  top: calc(50% - var(--blob-radius) / 2 - 50px);
  left: calc(50% - var(--blob-radius) / 2 - 400px);

  background: radial-gradient(circle at center,
      rgba(224, 88, 170, 0.534) 0,
      rgba(64, 43, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);
  animation: blob-mov-hor 25s ease-in-out infinite;
}

.mouse-blob {
  position: absolute;
  width: var(--blob-radius);
  height: var(--blob-radius);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: radial-gradient(circle at center,
      rgba(89, 103, 197, 0.6) 0,
      rgba(64, 43, 255, 0) 50%) no-repeat;
  mix-blend-mode: var(--blob-blendmode);
}

/* 
@keyframes blob-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob-mov-vert {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%) translateX(10%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes blob-mov-hor {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(50%) translateY(-15%);
  }

  100% {
    transform: translateX(-50%);
  }
} */

#project-section {
  background-color: #1310148e;
  box-shadow: inset 0 0 12px 1px rgb(12, 13, 15);
  overflow: visible;
  min-height: 100vh;
}


.project-list.row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.project-grid-container {
  display: grid;
  width: 100%;
  max-height: 550px;
  max-width: 450px;
  padding: 0 2rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 5rem;
  column-gap: 3rem;

  z-index: 2;
  overflow: scroll;
  scroll-behavior: smooth;
}

.project-container {
  position: relative;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  background-color: #00000054;
  align-items: center;
  box-shadow: 0 0 70px 5px rgba(17, 21, 24, 0.2);
  scroll-snap-align: center;

}

.project-details-top,
.project-details-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  min-height: 150px;
}

.project-details-top h2 {
  line-height: 1.1;
}

.project-details-top p {

  font-family: var(--font-primary);
}

.project-links a {
  line-height: 2;
  font-size: .9rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.details-content {
  display: none;
  flex-direction: column;
  max-height: fit-content;
  color: antiquewhite;
}

.details-content p {
  color: antiquewhite;
  margin: .25rem;
}

.project-media {
  display: flex;

  width: 100%;
  max-height: 70%;
  overflow: hidden;
}

.project-media img {
  width: 100%;
  height: 100%;
}

.project-details-bottom a {
  position: relative;
  cursor: pointer;
}


.project-media video {
  width: 100%;

}

.filter-category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: end;
  margin: 0 1rem;
  justify-content: center;
}

.filter-category-container h2 {
  font-size: 4rem;
  white-space: nowrap;
}

#filter-category {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: end;
}

.item-category {
  position: relative;
  width: fit-content;
}

.item-category h3 {
  font-size: 2rem;
  font-family: var(--font-primary-light);
  color: var(--text-color-light);

  font-weight: 300;
}

.item-category:hover {
  cursor: pointer;
}

.item-category ::after {
  content: '';
  position: relative;
  display: flex;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: rgb(215, 255, 36);
  transition: width .35s;
}

.item-category:hover ::after {
  content: '';
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 2px;
}

.item-category.selected ::after {
  width: 100%;
}

.item-category.selected h3 {
  color: rgb(215, 255, 36);
}

#about-section {
  height: fit-content;
  min-height: 1280px;
  padding: 2rem;
  background-color: #070c11eb;
  scroll-snap-align: start;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe h1 {
  font-size: 2rem
}

.aboutMe p {
  font-size: 1.5rem;
  color: beige;
  margin: .5rem 0;
  letter-spacing: 1px;
}

.aboutMe_experience {
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: beige;
}

.aboutMe_experience img {
  width: 50px;
}

@keyframes spin {
  0% {
    --card-border-rot: 0deg;
  }

  100% {
    --card-border-rot: 360deg;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #141e1f;
}

::-webkit-scrollbar-thumb {
  background: #6ac54e;
}

::-webkit-scrollbar-thumb:hover {
  background: #6df743;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }


  .content-card {
    width: 80%;
  }

  header {
    height: 3.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  /* Page section */

  .container {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .row {
    height: 100%;
  }

  .row-20 {
    max-width: 20%;
  }

  .row-33 {
    max-width: 33%;
  }

  .row-40 {
    max-width: 40%;
  }

  .row-50 {
    max-width: 50%;
  }

  .row-60 {
    max-width: 50%;
  }

  .row-70 {
    max-width: 70%;
  }

  .row-100 {
    max-width: 100%;
  }

  .nav-list a {
    font-size: 1.8 rem;
  }

  .nav-lItem {
    padding: 0.5em;
  }

  .nav-lItem a:hover {
    cursor: pointer;
    color: #9e543d;
  }

  #banner-section h1 {
    font-size: 5rem;
  }

  .banner_name {
    height: 40%;
  }

  .filter-category-container {
    align-items: center;
  }

  .project-grid-container {
    max-width: 1400px;
    max-height: 1250px;
    margin: auto 0;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: auto;
    column-gap: 5rem;
  }

  .project-container_wOffset {
    margin-top: 50%;
  }

  .icon_group {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
  }

  /* .project-list {
    flex-direction: column;

    width: 100%;
    height: 100vh;
  }

  .project-list-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .project-container {
    width: 35%;
    height: 60%;
    max-height: 850px;
  } */

  .offset-container {
    margin-top: 25%;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 18px;
  }

  .container {
    height: 100%;
    width: 80%;
  }

  .project-grid-container {
    column-gap: 15rem;
  }
}